force-app/main/default/flows/Update_Inventory_Stock_Level_on_Sales_Order_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Inventory_Item_RecordIds_in_collection</name>
        <label>Add Inventory Item RecordIds in collection</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>InventoryItemIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Line_Items.Inventory_Item__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_updated_inventory_item_in_final_collection</name>
        <label>Add updated inventory item in final collection</label>
        <locationX>314</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>UpdatedInventoryItemsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentInventoryItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>filtered_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_temporary_inventory_item</name>
        <label>Assign temporary inventory item</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>currentInventoryItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filtered_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_final_stock_level</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_final_stock_level</name>
        <label>Calculate final stock level</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>currentInventoryItem.Stock_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewStockLevel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_updated_inventory_item_in_final_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_inventory_items_in_a_collection</name>
        <label>Save inventory items in a collection</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>InventoryItemsCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>latest_loop_over_sales_order_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_line_items_in_a_variable</name>
        <label>Store line items in a variable</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>SalesOrderLineItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Order_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Line_Items</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_inventory_items_based_on_ID</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter inventory items based on ID</label>
        <locationX>226</locationX>
        <locationY>1379</locationY>
        <assignNextValueToReference>currentItem_Filter_inventory_items_based_on_ID</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>InventoryItemsCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_inventory_items_based_on_ID.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>latest_loop_over_sales_order_line_items.Inventory_Item__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>filtered_loop</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_for_Line_Items</name>
        <label>Check for Line Items</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>records_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_line_items_in_a_variable</targetReference>
            </connector>
            <label>records present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_records</name>
        <label>Check for records</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>fetched_correctly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventory_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_inventory_items_in_a_collection</targetReference>
            </connector>
            <label>fetched correctly</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewStockLevel</name>
        <dataType>Number</dataType>
        <expression>{!currentInventoryItem.Stock_Level__c} - {!latest_loop_over_sales_order_line_items.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Inventory Stock Level on Sales Order Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Inventory Stock Level on Sales Order Creation</label>
    <loops>
        <name>filtered_loop</name>
        <label>filtered loop</label>
        <locationX>226</locationX>
        <locationY>1487</locationY>
        <collectionReference>Filter_inventory_items_based_on_ID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_temporary_inventory_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>latest_loop_over_sales_order_line_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>latest_loop_over_sales_order_line_items</name>
        <label>latest loop over sales order line items</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <collectionReference>SalesOrderLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_inventory_items_based_on_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_final_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Line_Items</name>
        <label>Loop Over Line Items</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Sales_Order_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Inventory_Item_RecordIds_in_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Inventory_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Inventory_Items</name>
        <label>Get Inventory Items</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>InventoryItemIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inventory_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order_Line_Items</name>
        <label>Get Sales Order Line Items</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_final_list</name>
        <label>Update final list</label>
        <locationX>50</locationX>
        <locationY>2087</locationY>
        <inputReference>UpdatedInventoryItemsCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Order_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Sales_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentInventoryItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory_Item__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_inventory_items_based_on_ID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory_Item__c</objectType>
    </variables>
    <variables>
        <name>InventoryItemIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventoryItemsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory_Item__c</objectType>
    </variables>
    <variables>
        <name>SalesOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>UpdatedInventoryItemsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory_Item__c</objectType>
    </variables>
</Flow>
